   html {
            background-color: #ffb6c1;
            color: purple;
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f0f0f0;
        }

        header {
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        .div img {
            filter: saturate(0%);
            width: 10%;
            border: 2px solid whitesmoke;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
            transition: all ease 0.4s;
            cursor: pointer;
        }

        .div img:hover {
            filter: saturate(100%);
            width: 50%;
        }

        .cadru-mov {
            border: 2px solid purple;
            padding: 20px;
            width: 300px;
            text-align: center;
            margin-bottom: 20px;
        }

        .titlu {
            color: white;
        }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
        }

        .meniu {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .meniu li {
            margin: 0 15px;
            position: relative;
        }

        .meniu a {
            text-decoration: none;
            color: gray;
            font-weight: bold;
            font-size: 20px;
            position: relative;
            transition: color 0.3s ease;
        }

        .meniu a:hover {
            color: #0a7e8c;
        }

        .meniu a::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #0a7e8c;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s ease;
        }

        .meniu a:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
		 .p1{
            display: flex;
            align-items: center; /* Aliniere pe axa verticală */
        }

        .p1 img {
            margin-right: 10px; /* Spațiu între imagine și text */
        }
		
				.pers {
  border: 5px solid #3498db; /* marginile cadrului */
  padding: 10px; /* spațiul dintre conținut și margini */
  position: relative;
  animation: rotatie 5s infinite linear; /* animația de rotație */
}

@keyframes rotatie {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

    .pozitiestanga{
	float: left;
	margin-right:20px;
	border-radius:50px;}
	